biopython==1.79
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
cffi==1.15.1
cycler==0.11.0
fast5-research==1.2.22
fonttools==4.34.4
h5py==2.8.0
kiwisolver==1.4.4
matplotlib==3.5.2
natsort==8.1.0
numpy==1.23.1
packaging==21.3
Pillow==9.2.0
progressbar2==4.0.0
pycparser==2.21
pyparsing==3.0.9
pysam==0.19.1
python-dateutil==2.8.2
python-utils==3.3.3
PyYAML==6.0
scipy==1.9.0
scrappie==1.4.2
six==1.16.0
